{% extends "base.html" %}

{% block content %}
    {% if 'ol' in ol_ul%}
        <div>
            <h2>Список профессий</h2>
            {% set user_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
                'инженер-по тарраформированию', 'климатолог', 'специалист по радиационной защите',
                'астрогеолог', 'гляциолог', 'инженер жизнеобеспеченя', 'метеоролог', 'оператор марсохода', 'киберинженер',
                'штурман', 'пилот дронов'] %}
        <ol>
            {% for user in user_list %}
            <li>{{ user }} {% if loop.first %} первый в очереди {% elif loop.last %} последний. {% endif %}
            </li>
            {% endfor %}
        </ol>
        </div>
    {% else %}
        <div>
            <h2>Список профессий</h2>
            {% set user_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
                'инженер-по тарраформированию', 'климатолог', 'специалист по радиационной защите',
                'астрогеолог', 'гляциолог', 'инженер жизнеобеспеченя', 'метеоролог', 'оператор марсохода', 'киберинженер',
                'штурман', 'пилот дронов'] %}
        <ul>
            {% for user in user_list %}
            <li>{{ user }} {% if loop.first %} первый в очереди {% elif loop.last %} последний. {% endif %}
            </li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
{% endblock %}